@model InteractiveLearningSystem.Web.Areas.Administrator.Models.Schools.SchoolDetailsAdminView
@{ 
	ViewBag.Title = "School Details";
}
<div class="row">
	<div class="well text-center">
		<h2>School Details</h2>
	</div>
</div>
<div class="row">
	<div class="well">
		<table class="table">
			<tr>
				<th>
					Avatar
				</th>
				<th>
					Name
				</th>
				<th>
					Points
				</th>
				<th>
					Exp
				</th>
				<th>
					Level
				</th>
			</tr>

			@foreach (var item in Model.Groups)
			{
				<tr>
					<td>
						<img src="@Url.Content(item.AvatarUrl)" style="width: 3.4em; height: 3.4em;" />
					</td>
					<td>
						<a href="@Url.Action("Details", "Group", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Points)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Experience)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Level)
					</td>
				</tr>
			}

		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		@Html.Action("SchoolSnippetPartial", "SchoolsPartial", new { area = "Common", schoolId = Model.Id })
	</div>
	<div class="col-md-offset-1 col-md-8 well">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#details" data-toggle="tab">Details</a></li>
			<li role="presentation"><a href="#moderator-tab" data-toggle="tab" onclick="loadModerator('@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["Moderator"]))')">Moderator</a></li>
			<li role="presentation"><a href="#adviser-tab" data-toggle="tab"onclick="loadAdviser('@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["Adviser"]))')">Adviser</a></li>
		</ul>
		<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
			<div class="tab-pane active" id="details">
				<p>Placeholder 1</p>
			</div>
			<div class="tab-pane" id="moderator-tab">
			</div>
			<div class="tab-pane" id="adviser-tab">
			</div>
		</div>
	</div>
</div>
<div class="row">

</div>

