@model InteractiveLearningSystem.Models.Group
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="well text-center">
		<h2>Group Details</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		@Html.Action("UserSnippetPartial", "UsersPartial", new { area = "Common", userId = Model.Teacher.Id })
		@Html.Action("SchoolSnippetPartial", "SchoolsPartial", new { area = "Common", schoolId = Model.SchoolId })
	</div>
	<div class="col-md-offset-1 col-md-8 well">
		<div class="row">
			<div class="col-md-12">
				@Html.Action("GroupSnippetPartial", "GroupsPartial", new { area = "Common", groupId = Model.Id })
			</div>
		</div>
		<div class="row">
			<div class="well">
				<table class="table">
					<tr>
						<th>
							Avatar
						</th>
						<th>
							Username
						</th>
						<th>
							Points
						</th>
						<th>
							Exp
						</th>
						<th>
							Level
						</th>
					</tr>

					@foreach (var item in Model.Students)
					{
						<tr>
							<td>
								<img src="@Url.Content(item.AvatarUrl)" style="width: 3.4em; height: 3.4em;" />
							</td>
							<td>
								<a href="@Url.Action("Details", "User", new { area = "Common", id = item.Id })">@Html.DisplayFor(modelItem => item.UserName)</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Points)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Experience)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Level)
							</td>
						</tr>
					}

				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
</div>


