<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
	<span class="glyphicon glyphicon-envelope"></span>
	Messages
	<span class="caret"></span>
</a>
<ul class="dropdown-menu">
	<li><a href="@Url.Action("Index", "Message", new { area= @ViewData["Area"], status=false })">Inbox(@ViewData["NewMessages"])</a></li>
	<li><a href="@Url.Action("Index", "Message", new { area= @ViewData["Area"], status=true })">Read</a></li>
	<li class="divider" role="separator"></li>
	<li><a href="@Url.Action("Create", "Message", new { area= @ViewData["Area"]})"><span class="glyphicon glyphicon-pencil"></span> New Message</a></li>
</ul>
