@using InteractiveLearningSystem.Models
@model LoginViewModel
@{
	Layout = null;
	ViewBag.Title = "Welcome";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Interactive Learning Systems</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body class="login-body" id="test">
	<h1 class="text-center">Interactive Learning System</h1>
	<br />
	<div class="container login">
		<div class="row text-center">
			<h2>@ViewBag.Title</h2>
			<hr />
		</div>
		<div>
			<div class="well container" id="loginWrapper">
				<div class="col-md-12">
					<section id="loginForm">
						@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
							@Html.AntiForgeryToken()
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								<label for="email">Email</label>
								<div class="col-md-10">
									@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id="email"})
									@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								@Html.LabelFor(m => m.Password, new { @class = "col-md-3" })
								<div class="col-md-10">
									@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="checkbox">
										@Html.CheckBoxFor(m => m.RememberMe)
										@Html.LabelFor(m => m.RememberMe)
									</div>
								</div>
							</div>
							<div class="form-group text-center">
								<div class="col-md-12">
									<input type="submit" value="Log in" class="btn btn-primary" />
								</div>
							</div>
							@* Enable this once you have account confirmation enabled for password reset functionality
								<p>
									@Html.ActionLink("Forgot your password?", "ForgotPassword")
								</p>*@
            }
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Interactive Learning System</p>
		</footer>
	</div>
	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
</body>
</html>