@switch (@ViewData["Role"].ToString())
{
	case "Administrator":
		<li><a href="@Url.Action("Index", "Schools", new { area = @ViewData["Role"] })">Schools</a></li>
		break;
	case "Moderator":
		<li><a href="@Url.Action("Index", "Groups", new { area = @ViewData["Role"] })">Groups</a></li>
		break;
	case "Adviser":
		<li><a href="@Url.Action("Index", "Groups", new { area = @ViewData["Role"] })">Groups</a></li>
		break;
	case "Teacher":
		<li><a href="@Url.Action("Index", "Groups", new { area = @ViewData["Role"] })">Groups</a></li>
		break;
}