@switch (@ViewData["Role"].ToString())
{
	case "Administrator":
		<a href="@Url.Action("SchoolGridView", "School", new { area = "Administrator" })" data-toggle="tooltip" data-placement="bottom" title="Browse schools...">
			Schools
		</a>
		break;
	case "Moderator":
		<a href="@Url.Action("Index", "Groups", new { area = @ViewData["Role"] })" data-toggle="tooltip" data-placement="bottom" title="Browse groups...">
			Groups
		</a>
		break;
	case "Adviser":
		<a href="@Url.Action("Index", "Groups", new { area = @ViewData["Role"] })" data-toggle="tooltip" data-placement="bottom" title="Browse groups...">
			Groups
		</a>
		break;
	case "Teacher":
		<a href="@Url.Action("Index", "Groups", new { area = @ViewData["Role"] })" data-toggle="tooltip" data-placement="bottom" title="Browse groups...">
			Groups
		</a>
		break;
}