@model InteractiveLearningSystem.Models.User

@{
	ViewBag.Title = "User Details";
	//Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row well text-center">
	<h2>User profile</h2>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="row">
			<div class="well text-center">
				<img src="@Url.Content(@Model.AvatarUrl)" style="width: 15em; height: 15em;" />
			</div>
		</div>
		<hr />
		<div class="text-center user-name">
			@Html.DisplayFor(model => model.UserName)
		</div>
		<hr />
		<div class="row">
			<div class="well user-details text-center">
				<p>@Html.DisplayNameFor(model => model.Level)</p>
				@Html.DisplayFor(model => model.Level)
				<hr />
				<p>@Html.DisplayNameFor(model => model.Experience)</p>
				@Html.DisplayFor(model => model.Experience)
				<hr />
				<p>@Html.DisplayNameFor(model => model.Points)</p>
				@Html.DisplayFor(model => model.Points)
			</div>
		</div>
	</div>
	<div class="col-md-offset-1 col-md-8 well">
		<div class="row">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Details</legend>
				<div class="row">
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.FirstName)
						<p>@Html.DisplayFor(model => model.FirstName)</p>
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.LastName)
						<p>@Html.DisplayFor(model => model.LastName)</p>
					</div>
					<div class="col-md-3">
						<a href="@Html.DisplayFor(model => model.FaceBookUrl)">@Html.DisplayNameFor(model => model.FaceBookUrl)</a>
					</div>
					<div class="col-md-3">
						<a href="@Html.DisplayFor(model => model.GooglePlusUrl)">@Html.DisplayNameFor(model => model.GooglePlusUrl)</a>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="row">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">@Html.DisplayNameFor(model => model.Group)</legend>
				<div class="row">
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.Name)
						<a href="@Url.Action("Details", "Group", new { id = 0})">@Html.DisplayFor(model => model.Group.Name)</a>
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.Level)
						@Html.DisplayFor(model => model.Group.Level)
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.Experience)
						@Html.DisplayFor(model => model.Group.Experience)
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.Points)
						@Html.DisplayFor(model => model.Group.Points)
					</div>
				</div>
			</fieldset>
		</div>
		<hr />
		<div class="row">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">@Html.DisplayNameFor(model => model.Group.School)</legend>
				<div class="row">
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.School.Name)
						<a href="@Url.Action("Details", "School", new { id = 0})">@Html.DisplayFor(model => model.Group.School.Name)</a>
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.School.Level)
						@Html.DisplayFor(model => model.Group.School.Level)
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.School.Experience)
						@Html.DisplayFor(model => model.Group.School.Experience)
					</div>
					<div class="col-md-3">
						@Html.DisplayNameFor(model => model.Group.School.Points)
						@Html.DisplayFor(model => model.Group.School.Points)
					</div>
				</div>
			</fieldset>
		</div>
		<hr />
		<div class="row">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">@Html.DisplayNameFor(model => model.Notes)</legend>
				<div class="row">
					<div class="col-md-12">
						@Html.DisplayFor(model => model.Notes)
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<div class="row">
</div>

