@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Interactive Learning System - @ViewBag.Title</title>
	@Styles.Render("~/Content/css", "~/Content/kendo")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/kendo")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="home"></li>
					<li class="dropdown" id="users"></li>
					<li class="dropdown" id="messages"></li>
					@if (User.IsInRole("Administrator"))
					{
						@Html.Action("RolesPartial", "UsersPartial", new { area = "Common", role = "Administrator" })
					}
					@if (User.IsInRole("Moderator"))
					{
						@Html.Action("RolesPartial", "UsersPartial", new { area = "Common", role = "Moderator" })
					}
					@if (User.IsInRole("Adviser"))
					{
						@Html.Action("RolesPartial", "UsersPartial", new { area = "Common", role = "Adviser" })
					}
					@if (User.IsInRole("Teacher"))
					{
						@Html.Action("RolesPartial", "UsersPartial", new { area = "Common", role = "Teacher" })
					}
					<li id="search" style="margin-left: 5em; width:20em;"></li>
				</ul>


				@if (Request.IsAuthenticated)
				{
					using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
					{
						@Html.AntiForgeryToken()

						<ul class="nav navbar-nav navbar-right">
							<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off <span class="glyphicon glyphicon-off"></span></a></li>
						</ul>
					}
				}
			</div>
		</div>
	</div>
	<div class="container body-content" id="content">
		@RenderBody()
		<hr />
		<footer class="text-center">
			<p><a href="@Url.Action("About", "Home", new { area= ""})">&copy; @DateTime.Now.Year - Interactive Learning System</a></p>
		</footer>
	</div>

	<script>
		$(document).ready(function () {
			$.ajax({
				type: "GET",
				url: "/Common/UsersPartial/HomePartial",
				success: function (viewHTML) {
					$("#home").html(viewHTML);
				},
				error: function (errorData) { onError(errorData); }
			});
			$.ajax({
				type: "GET",
				url: "/Common/UsersPartial/UsersPartial",
				success: function (viewHtml) {
					$("#users").html(viewHtml);
				},
				error: function (errorData) { onError(errorData); }
			});
			$.ajax({
				type: "GET",
				url: "/Common/InboxPartial/InboxPartial",
				success: function (viewHtml) {
					$("#messages").html(viewHtml);
				},
				error: function (errorData) { onError(errorData); }
			});
			$.ajax({
				type: "GET",
				url: "/Common/SearchPartial/SearchPartial",
				success: function (viewHtml) {
					$("#search").html(viewHtml);
				},
				error: function (errorData) { onError(errorData); }
			});
		});

		function onAutocompleteData() {
			return {
				text: $("#autoCompleteData").val()
			};
		};

		function updateUserNotes() {
			var userId = $('#test').text();
			var newNotes = $('#user-notes').val();
			$.ajax({
				url: '/Administrator/User/UpdateNotes',
				type: 'POST',
				data: {
					id: userId,
					notes: newNotes
				},
				success: function (data) {
					$('#user-notes').text = data;
				},
				error: function () {
					$('#error-message').append("Error occured while processing your query!");
				}
			});
		};
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
