@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Interactive Learning System - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="@Url.Action("Index", "Index", new { area = "Administrator"})"><span class="glyphicon glyphicon-home"></span> System</a></li>
					<li class="dropdown">
						@Html.Action("UsersPartial", "UsersPartial", new { area = "Common"})
					</li>
					@Html.Action("InboxPartial", "InboxPartial", new { area = "Common" })
				</ul>

				<div class="col-sm-3 col-md-3">
					<form class="navbar-form" role="search">
						<div class="input-group">
							<input class="form-control" placeholder="Search" name="q" type="text">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							</div>
						</div>
					</form>
				</div>

				@if (Request.IsAuthenticated)
				{
					using (Html.BeginForm("LogOff", "Account", new { area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right" }))
					{
						@Html.AntiForgeryToken()

						<ul class="nav navbar-nav navbar-right">
							<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off <span class="glyphicon glyphicon-off"></span></a></li>
						</ul>
					}
				}
			</div>
		</div>
	</div>
	<div class="container body-content" id="content">
		@RenderBody()
		<hr />
		<footer class="text-center">
			<p><a href="@Url.Action("About", "Home", new { area= ""})">&copy; @DateTime.Now.Year - Interactive Learning System</a></p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
